<div class="full-patients-reviews">
    <div class="fpr-header">
        <h4><i class="far fa-star"></i> Patients Reviews: </h4>
        <div class="static-rates row">

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">

                <div class="star-ratings-sprite">
                    <span style="width:90%" class="star-ratings-sprite-rating">
                    </span>
                </div>
            </div>
            <p class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><span>4.5</span> from 3,00 Patient</p>

        </div>
    </div>

    <hr>
    <div class="static-rates row">
        <p class="col-md-3 col-lg-3">Behavior: </p>

        <div class="col-md-9 col-lg-9">

            <div class="star-ratings-sprite">
                <span style="width:90%" class="star-ratings-sprite-rating">
                </span>
            </div>
            <span>(4.5 Stars) 90%</span>
        </div>

    </div>

    <div class="static-rates row">
        <p class="col-md-3 col-lg-3">Clean: </p>

        <div class="col-md-9 col-lg-9">

            <div class="star-ratings-sprite">
                <span style="width:90%" class="star-ratings-sprite-rating">
                </span>
            </div>
            <span>(4.5 Stars) 90%</span>
        </div>

    </div>

    <div class="static-rates row">
        <p class="col-md-3 col-lg-3">Understanding: </p>

        <div class="col-md-9 col-lg-9">

            <div class="star-ratings-sprite">
                <span style="width:90%" class="star-ratings-sprite-rating">
                </span>
            </div>
            <span>(4.5 Stars) 90%</span>
        </div>

    </div>

    <div class="static-rates row">
        <p class="col-md-3 col-lg-3">Behavior: </p>

        <div class="col-md-9 col-lg-9">

            <div class="star-ratings-sprite">
                <span style="width:90%" class="star-ratings-sprite-rating">
                </span>
            </div>
            <span>(4.5 Stars) 90%</span>
        </div>

    </div>
</div>

<hr>