<li>
  <div class="tm-box">
      <div class="row">

          <div class="col-md-8">
              <p class="title">Ahmed mohamed</p>

              <p class="rev-comment">
                  It's awesome
              </p>

              <p class="rev-date text-muted mb-none">
                  7 months ago
              </p>
          </div>

          <div class="col-md-4">
              <div class="star-ratings-sprite">
                  <span style="width:90%" class="star-ratings-sprite-rating">
                  </span>
              </div>
              <p>(4.5 Stars) 90%</p>
          </div>

      </div>
  </div>
</li>