<aside class="visits">
  <h4 class="text-bold">Previous Visits</h4>
  <ul class="list-group">
    <li class="list-group-item">24
      <sup>th</sup>, Feb 2018</li>
    <li class="list-group-item">19
      <sup>th</sup>, Feb 2018</li>
    <li class="list-group-item">15
      <sup>th</sup>, Feb 2018</li>
    <li class="list-group-item">13
      <sup>th</sup>, Feb 2018</li>
    <li class="list-group-item">9
      <sup>th</sup>, Feb 2018</li>
    <li class="list-group-item">3
      <sup>rd</sup>, Feb 2018</li>
    <li class="list-group-item">13
      <sup>th</sup>, Feb 2018</li>
  </ul>
</aside>