<form id="booking" action="">
  
        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">Patient Name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user fa" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" />
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Patient Email</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope fa" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label">Username</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-users fa" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" />
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
              </span>
              <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
              </span>
              <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" />
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <div class="panel-group" id="accordion">
  
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                    <i style="font-size:35px;float:right" class="fa fa-plus-square" data-toggle="modal" data-target="#adding-exp"></i>
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    Medical History</a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-3">
  
  
                        <h3>Diabetes</h3>
  
                        <div class="btn-group" data-toggle="buttons">
  
  
                          <label class="btn btn-primary">
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
  
  
  
                        </div>
  
  
                      </div>
                      <div class="col-md-3">
  
  
                        <h3>Bad Breath</h3>
  
                        <div class="btn-group" data-toggle="buttons">
  
  
                          <label class="btn btn-primary">
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
  
  
  
                        </div>
  
  
                      </div>
                      <div class="col-md-3">
  
  
                        <h3>Tooth Decay</h3>
  
                        <div class="btn-group" data-toggle="buttons">
  
  
                          <label class="btn btn-primary">
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
  
  
  
                        </div>
  
  
                      </div>
                      <div class="col-md-3">
  
  
                        <h3>Gum (Periodontal)</h3>
  
                        <div class="btn-group" data-toggle="buttons">
  
  
                          <label class="btn btn-primary">
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
  
  
  
                        </div>
  
  
                      </div>
                      <div class="col-md-3">
  
  
                        <h3>Oral Cancer</h3>
  
                        <div class="btn-group" data-toggle="buttons">
  
  
                          <label class="btn btn-primary">
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
  
  
  
                        </div>
  
  
                      </div>
                      <div class="col-md-3">
  
  
                        <h3>Mouth Sores</h3>
  
                        <div class="btn-group" data-toggle="buttons">
  
  
                          <label class="btn btn-primary">
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
  
  
  
                        </div>
  
  
                      </div>
                      <div class="col-md-3">
  
  
                        <h3>Tooth Erosion</h3>
  
                        <div class="btn-group" data-toggle="buttons">
  
  
                          <label class="btn btn-primary">
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
  
  
  
                        </div>
  
  
                      </div>
                      <!-- <div class="col-md-4">
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox2" type="checkbox" checked>
                            <label for="checkbox2">
                              Primary
                            </label>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox2" type="checkbox" checked>
                            <label for="checkbox2">
                              Primary
                            </label>
                          </div>
                    </div> -->
                      <div class="col-md-3">
  
  
                        <h3>Tooth Sensitivity</h3>
  
                        <div class="btn-group" data-toggle="buttons">
  
  
                          <label class="btn btn-primary">
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
  
  
  
                        </div>
  
  
                      </div>
  
                      <div class="col-md-3">
  
  
                        <h3>Toothaches </h3>
  
                        <div class="btn-group" data-toggle="buttons">
  
  
                          <label class="btn btn-primary">
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
  
  
  
                        </div>
  
  
                      </div>
                      <div class="col-md-3">
  
  
                        <h3>Pressure</h3>
  
                        <div class="btn-group" data-toggle="buttons">
  
  
                          <label class="btn btn-primary">
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
  
  
  
                        </div>
  
  
                      </div>
                    
                    </div>
                    
                  </div>
                
                </div>
            
              </div>
              <div class="clearfix"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                <button style="    background-color: #0088cc;float:left;
                border-color: #0088cc;" type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
  
      </form>
