<div class="container-fluid search-box">
    <section class="panel ">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="h2">Patients 
                                <a href="#"><i class="fas fa-plus-circle pull-right"></i></a>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="row">
                
            </div>

            <div class="row">
                <app-search-filters></app-search-filters>
                <app-patient-card-list></app-patient-card-list>
            </div>
      </div>
    </section>
</div>

