.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  
  .card.hovercard {
    position: relative;
    width: 300px;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    
  }
  
  .card.hovercard img {
    width: 300px;
    height: 200px;
  }
  .head{
    height: 50px;
    line-height: 80px;
    text-align: center;
    background-color: #2d2c2c;
    text-align: center;
    font-size: 20px;
    color: white;

  }
  .head .fa .fa-file{
   

  }
  .card.hovercard .avatar {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    color: #313030;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color:  #eeeeee;
    position: relative;
    top: -40px;
    margin-bottom: -40px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 15px;
  
    font-family: fantasy;
  }
  

  
  .card.hovercard .info {
    padding: 4px 8px 10px;
  }
  
  .card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
  }
  
  .card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
  }
  
  .card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
  }
  
  .card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }


  /* download & view button 
   */
   /* Included color classes.. 
    .red 
	.blue 
	.yellow
	.green
	.navy
*/ 
.services{
    margin: 20px auto;
    }
figure.snip1174 {
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: left;
  margin: 10px;
  width: 100%;
  border-radius: 0px;
}
figure.snip1174 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1174 img {
  max-width: 100%;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  vertical-align: top;
  opacity: 0.7;
}
figure.snip1174 figcaption {
  position: absolute;
  padding: 40px 25px;
  top: 0;
  left: 0;
}
figure.snip1174 h2,
figure.snip1174 p {
  margin: 0;
  padding: 0;
}
figure.snip1174 h2 {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 100;
  font-size: 1.8em;
}
figure.snip1174 p {
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.4em;
}
figure.snip1174 a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
 
  font-size: 0.8em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
}
figure.snip1174 a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
figure.snip1174.blue {
  background-color: #20638f;
}
figure.snip1174.yellow {
  background-color: #c87f0a;
}
figure.snip1174.green {
  background-color: #1e8449;
}
figure.snip1174.navy {
  background-color: #222f3d;
}
figure.snip1174.red {
  background-color: #962d22;
}
figure.snip1174:hover img,
figure.snip1174.hover img {
  opacity: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
}
figure.snip1174:hover a,
figure.snip1174.hover a {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
/* invoices */
.quote-badge{
  background-color: rgba(0, 0, 0, 0.2);   
  }
  
  .quote-box{
      
      overflow: hidden;
      margin-top: -50px;
      padding-top: -100px;
      border-radius: 17px;
      background-color: #4ADFCC;
      margin-top: 25px;
      color:white;
      width: 325px;
      box-shadow: 2px 2px 2px 2px #E0E0E0;
      
  }
  
  .quotation-mark{
      
      margin-top: -10px;
      font-weight: bold;
      font-size:100px;
      color:white;
      font-family: "Times New Roman", Georgia, Serif;
      
  }
  
  .quote-text{
      
      font-size: 19px;
      margin-top: -65px;
  }

  /* invoices
   */
   
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  border-top:15px rgb(63, 145, 180) solid;
  margin-right: 10px;
}

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.3em;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom:10px;
  font-family: cursive;
}
.fa{

}

.card .fa .fa-edit{
  float: right;
  padding-top: 8%;
  padding-right: 10px;
  font-size: 22px;

}

.card-text {
  clear: both;
  margin-top: .5em;
  color: rgba(0, 0, 0, .68);
}

.card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  
  color: rgba(0, 0, 0, .4);
  border-top: 5px solid rgba(133, 8, 8, 0.05) !important;
  background: #fff;
}

.card-inverse .btn {
  border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
  position: absolute;
  top: -12px;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin: 0;
  border: 1px solid #fff;
  border-radius: 50%;
}

.profile-avatar {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.profile-inline {
  position: relative;
  top: 0;
  display: inline-block;
}

.profile-inline ~ .card-title {
  display: inline-block;
  margin-left: 4px;
  vertical-align: top;
}

.text-bold {
  font-weight: 700;
}

.meta {
  font-size: 1em;
  color: rgba(0, 0, 0, .4);
}
.profile_budget{
  padding-top:15px;
  color:#757575;
}

.meta h5 {
  text-decoration: none;
 
  font-weight:normal;
}
.card-footer .icon{
  padding:10px 10px;
}
.card-footer .icon a{
  font-size: 25px;
  color: #3f91b4;
}
.card-footer .icon>a
{
  padding-right: 7px;
}


/* pagination */
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
.pagination{
  padding-left:30%;
  padding-top: 30px;
}