<p>
  profile-personal-info works!
</p>
<div class="container" style="padding-top:100px;">
  
  
      <div class="row">
        <div class="col-md-7 ">
  
  
          <div class="panel panel-default">
            <i class="fa fa-plus-square" style="float:right"></i>
            <div class="panel-heading">
              <h4>Profile</h4>
            </div>
            <div class="panel-body">
  
              <div class="box box-info">
  
                <div class="box-body">
                  <div class="col-sm-5">
                    <div align="center">
                      <img style=" border: 1px #00b1b1 solid;" alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                       id="profile-image1" class="img-circle img-responsive">
  
                      <input id="profile-image-upload" class="hidden" type="file">
                      <div style="color:#999;">click here to change profile image</div>
                      <!--Upload Image Js And Css-->
  
  
  
  
  
  
  
                    </div>
  
                    <br>
  
                    <!-- /input-group -->
                  </div>
                  <div class="col-sm-6">
                    <i class="fa fa-pencil" style="float:right;font-size:20px"></i>
  
                    <h4 style="color:#00b1b1;">Abdelrhman Mohamed </h4>
                    
                    <span>
                      <p>Developer</p>
                    </span>
                    <hr>
                    <div class="medical-diseases">
                      <i class="fa fa-plus-square" style="float:right;font-size:20px;"></i>
                      <i class="fa fa-pencil" style="float:right;font-size:20px;padding-right:10px"></i>
  
                      <h4 style="color:#00b1b1">
                        <i class="fa fa-medkit" aria-hidden="true"></i>
                        Medical Diseases
                      </h4>
                      <span>
                        <p>Gum (Periodontal)</p>
                      </span>
                      <span>
                        <p>Tooth Decay</p>
                      </span>
                      <span>
                        <p>Mouth Sores</p>
                      </span>
                    </div>
  
                  </div>
                  <div class="clearfix"></div>
  
  
  
  
                  <hr style="margin:5px 0 5px 0;">
                  <div class="Personal-Information">
                    <i class="fa fa-pencil" style="float:right;font-size:20px;padding-right:10px;padding-top:10px"></i>
  
  
                    <h4 style="color:#00b1b1;">Personal Information</h4>
  
                    <div class="col-sm-5 col-xs-6 tital ">Telephone:</div>
                    <div class="col-sm-7 col-xs-6 ">+ 0201127896465</div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
  
  
                    <div class="col-sm-5 col-xs-6 tital ">Email:</div>
                    <div class="col-sm-7"> ashhmonyabdo1@gmail.com</div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
  
  
                    <div class="col-sm-5 col-xs-6 tital ">Gender:</div>
                    <div class="col-sm-7"> Male</div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
  
  
  
                    <div class="col-sm-5 col-xs-6 tital ">Place Of Birth:</div>
                    <div class="col-sm-7">Shirdi</div>
  
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
  
                    <div class="col-sm-5 col-xs-6 tital ">Nationality:</div>
                    <div class="col-sm-7">Egyptian</div>
  
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
  
                    <div class="col-sm-5 col-xs-6 tital ">Marital status:</div>
                    <div class="col-sm-7">single</div>
  
                  </div>
                  <div class="clearfix"></div>
  
  
  
  
                  <hr style="margin:5px 0 5px 0;">
  
                  <div class="medical-diseases">
                    <i class="fa fa-plus-square" style="float:right;font-size:20px;"></i>
                    <i class="fa fa-pencil" style="float:right;font-size:20px;padding-right:10px"></i>
  
                    <h4 style="color:#00b1b1">
                      <i class="fa fa-medkit" aria-hidden="true"></i>
                      Medical History
                    </h4>
                    <span>
                      <p>Gum (Periodontal)</p>
                    </span>
                    <span>
                      <p>Tooth Decay</p>
                    </span>
                    <span>
                      <p>Mouth Sores</p>
                    </span>
                    <span>
                      <p>Mouth Sores</p>
                    </span>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
  
              </div>
  
  
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <h3> Most Favourite Doctors</h3>
          <hr>
          <div class="col-sm-12 col-md-12">
            <div class="dentist-card">
              <div class="img">
                <img src="assets\images\doctors\doctor_1.png" alt="">
              </div>
              <div class="dentist-info">
                <p>Dr. John Doe</p>
                <p>
                  Age:
                  <span>29</span>
                </p>
                <p>XYZ clinic</p>
                <p>
                  <i class="fa fa-flask" aria-hidden="true"></i>
                  <span>Specialization</span>
                </p>
              </div>
              <div class="dentist-review">
                <p class="text-center">
                  <span>Review</span>
                  <span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                  </span>
                </p>
                <button class="btn btn-primary">
                  <span>
                    Make an appointment
                  </span>
                  <i class="fa fa-medkit" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12">
            <div class="dentist-card">
              <div class="img">
                <img src="assets\images\doctors\doctor_1.png" alt="">
              </div>
              <div class="dentist-info">
                <p>Dr. John Doe</p>
                <p>
                  Age:
                  <span>29</span>
                </p>
                <p>XYZ clinic</p>
                <p>
                  <i class="fa fa-flask" aria-hidden="true"></i>
                  <span>Specialization</span>
                </p>
              </div>
              <div class="dentist-review">
                <p class="text-center">
                  <span>Review</span>
                  <span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                  </span>
                </p>
                <button class="btn btn-primary">
                  <span>
                    Make an appointment
                  </span>
                  <i class="fa fa-medkit" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12">
            <div class="dentist-card">
              <div class="img">
                <img src="assets\images\doctors\doctor_1.png" alt="">
              </div>
              <div class="dentist-info">
                <p>Dr. John Doe</p>
                <p>
                  Age:
                  <span>29</span>
                </p>
                <p>XYZ clinic</p>
                <p>
                  <i class="fa fa-flask" aria-hidden="true"></i>
                  <span>Specialization</span>
                </p>
              </div>
              <div class="dentist-review">
                <p class="text-center">
                  <span>Review</span>
                  <span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                  </span>
                </p>
                <button class="btn btn-primary">
                  <span>
                    Make an appointment
                  </span>
                  <i class="fa fa-medkit" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
  
  
        </div>
  
  
  
  
  
  
  
        <div class="col-md-12">
          <!-- reports -->
          <div class="col-md-12">
  
  
  
  
            <div class="tabbable-panel">
              <div class="tabbable-line">
  
                <div class="tab-content">
                  <h3> Invoices</h3>
                  <hr>
                  <div class="col-md-12">
                    <i style="font-size:35px;float:right" class="fa fa-plus-square" data-toggle="modal" data-target="#adding-exp"></i>
                  </div>
                  <div class="col-md-12">
                  </div>
  
                  <div class="tab-pane active" id="tab_default_1">
  
                    <div class="row col-md-4 ">
                      <div class="card">
  
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-trash"></i>
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-edit"></i>
  
  
                        <div class="card-block">
  
                          <h4 class="card-title mt-3">Total Price:$100</h4>
                          <div class="meta">
                            <h3>02/22/2018</h3>
  
                          </div>
  
                        </div>
                        <div class="card-footer">
  
                          <div class="icon pull-right">
                            <a href="#">
                              <i class="fa fa-download"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-eye"></i>
                            </a>
  
                          </div>
                        </div>
  
  
                        <!-- <div class="info">
                             <div class="title">
                              <button type="button" class="btn btn-danger " >
                                  <i class="fa fa-download"></i>Download</button>
                              <button type="submit" class="btn btn-primary ">
                                  <i class="fa fa-eye"></i>View</button>
                              
                             </div>
                            
                          </div> -->
  
                      </div>
                    </div>
  
                    <div class="row col-md-4 ">
                      <div class="card">
  
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-trash"></i>
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-edit"></i>
  
  
  
                        <div class="card-block">
  
                          <h4 class="card-title mt-3">Total Price: $200</h4>
                          <div class="meta">
                            <h3>02/22/2018</h3>
  
                          </div>
  
                        </div>
                        <div class="card-footer">
  
                          <div class="icon pull-right">
                            <a href="#">
                              <i class="fa fa-download"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-eye"></i>
                            </a>
  
                          </div>
                        </div>
  
  
                        <!-- <div class="info">
                             <div class="title">
                              <button type="button" class="btn btn-danger " >
                                  <i class="fa fa-download"></i>Download</button>
                              <button type="submit" class="btn btn-primary ">
                                  <i class="fa fa-eye"></i>View</button>
                              
                             </div>
                            
                          </div> -->
  
                      </div>
                    </div>
  
  
                    <div class="row col-md-4 ">
                      <div class="card">
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-trash"></i>
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-edit"></i>
  
  
  
                        <div class="card-block">
  
                          <h4 class="card-title mt-3">Total Price: $300</h4>
                          <div class="meta">
                            <h3>02/22/2018</h3>
  
                          </div>
  
                        </div>
                        <div class="card-footer">
  
                          <div class="icon pull-right">
                            <a href="#">
                              <i class="fa fa-download"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-eye"></i>
                            </a>
  
                          </div>
                        </div>
  
  
                        <!-- <div class="info">
                             <div class="title">
                              <button type="button" class="btn btn-danger " >
                                  <i class="fa fa-download"></i>Download</button>
                              <button type="submit" class="btn btn-primary ">
                                  <i class="fa fa-eye"></i>View</button>
                              
                             </div>
                            
                          </div> -->
  
                      </div>
                    </div>
  
                  </div>
  
                  <!-- section 2 -->
                  <div class="tab-pane" id="tab_default_2">
                    <div class="row col-md-4 ">
                      <div class="card">
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-trash"></i>
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-edit"></i>
  
  
  
                        <div class="card-block">
  
                          <h4 class="card-title mt-3">Total Price: $300</h4>
                          <div class="meta">
                            <h3>02/22/2018</h3>
  
                          </div>
  
                        </div>
                        <div class="card-footer">
  
                          <div class="icon pull-right">
                            <a href="#">
                              <i class="fa fa-download"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-eye"></i>
                            </a>
  
                          </div>
                        </div>
  
  
                        <!-- <div class="info">
                             <div class="title">
                              <button type="button" class="btn btn-danger " >
                                  <i class="fa fa-download"></i>Download</button>
                              <button type="submit" class="btn btn-primary ">
                                  <i class="fa fa-eye"></i>View</button>
                              
                             </div>
                            
                          </div> -->
  
                      </div>
                    </div>
                    <div class="row col-md-4 ">
                      <div class="card">
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-trash"></i>
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-edit"></i>
  
  
  
                        <div class="card-block">
  
                          <h4 class="card-title mt-3">Total Price: $300</h4>
                          <div class="meta">
                            <h3>02/22/2018</h3>
  
                          </div>
  
                        </div>
                        <div class="card-footer">
  
                          <div class="icon pull-right">
                            <a href="#">
                              <i class="fa fa-download"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-eye"></i>
                            </a>
  
                          </div>
                        </div>
  
  
                        <!-- <div class="info">
                             <div class="title">
                              <button type="button" class="btn btn-danger " >
                                  <i class="fa fa-download"></i>Download</button>
                              <button type="submit" class="btn btn-primary ">
                                  <i class="fa fa-eye"></i>View</button>
                              
                             </div>
                            
                          </div> -->
  
                      </div>
                    </div>
                    <div class="row col-md-4 ">
                      <div class="card">
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-trash"></i>
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-edit"></i>
  
  
  
                        <div class="card-block">
  
                          <h4 class="card-title mt-3">Total Price: $300</h4>
                          <div class="meta">
                            <h3>02/22/2018</h3>
  
                          </div>
  
                        </div>
                        <div class="card-footer">
  
                          <div class="icon pull-right">
                            <a href="#">
                              <i class="fa fa-download"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-eye"></i>
                            </a>
  
                          </div>
                        </div>
  
  
                        <!-- <div class="info">
                             <div class="title">
                              <button type="button" class="btn btn-danger " >
                                  <i class="fa fa-download"></i>Download</button>
                              <button type="submit" class="btn btn-primary ">
                                  <i class="fa fa-eye"></i>View</button>
                              
                             </div>
                            
                          </div> -->
  
                      </div>
                    </div>
  
                  </div>
                  <div class="tab-pane" id="tab_default_3">
                    <div class="row col-md-4 ">
                      <div class="card">
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-trash"></i>
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-edit"></i>
  
  
  
                        <div class="card-block">
  
                          <h4 class="card-title mt-3">Total Price: $500</h4>
                          <div class="meta">
                            <h3>02/22/2018</h3>
  
                          </div>
  
                        </div>
                        <div class="card-footer">
  
                          <div class="icon pull-right">
                            <a href="#">
                              <i class="fa fa-download"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-eye"></i>
                            </a>
  
                          </div>
                        </div>
  
  
                        <!-- <div class="info">
                             <div class="title">
                              <button type="button" class="btn btn-danger " >
                                  <i class="fa fa-download"></i>Download</button>
                              <button type="submit" class="btn btn-primary ">
                                  <i class="fa fa-eye"></i>View</button>
                              
                             </div>
                            
                          </div> -->
  
                      </div>
                    </div>
                    <div class="row col-md-4 ">
                      <div class="card">
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-trash"></i>
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-edit"></i>
  
  
  
                        <div class="card-block">
  
                          <h4 class="card-title mt-3">Total Price: $900</h4>
                          <div class="meta">
                            <h3>02/22/2018</h3>
  
                          </div>
  
                        </div>
                        <div class="card-footer">
  
                          <div class="icon pull-right">
                            <a href="#">
                              <i class="fa fa-download"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-eye"></i>
                            </a>
  
                          </div>
                        </div>
  
  
                        <!-- <div class="info">
                             <div class="title">
                              <button type="button" class="btn btn-danger " >
                                  <i class="fa fa-download"></i>Download</button>
                              <button type="submit" class="btn btn-primary ">
                                  <i class="fa fa-eye"></i>View</button>
                              
                             </div>
                            
                          </div> -->
  
                      </div>
                    </div>
                    <div class="row col-md-4 ">
                      <div class="card">
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-trash"></i>
                        <i style="float:right;  float: right;padding-top: 6%;padding-right: 10px;font-size: 22px;" class="fa fa-edit"></i>
  
  
  
                        <div class="card-block">
  
                          <h4 class="card-title mt-3">Total Price: $700</h4>
                          <div class="meta">
                            <h3>02/22/2018</h3>
  
                          </div>
  
                        </div>
                        <div class="card-footer">
  
                          <div class="icon pull-right">
                            <a href="#">
                              <i class="fa fa-download"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-eye"></i>
                            </a>
  
                          </div>
                        </div>
  
  
                        <!-- <div class="info">
                             <div class="title">
                              <button type="button" class="btn btn-danger " >
                                  <i class="fa fa-download"></i>Download</button>
                              <button type="submit" class="btn btn-primary ">
                                  <i class="fa fa-eye"></i>View</button>
                              
                             </div>
                            
                          </div> -->
  
                      </div>
                    </div>
  
  
                  </div>
                  <!-- <ul class="nav nav-tabs " style="width:25%;margin:0 auto">
                  <li class="active">
                    <a href="#tab_default_1" data-toggle="tab">
                      1 </a>
                  </li>
                  <li>
                    <a href="#tab_default_2" data-toggle="tab">
                      2 </a>
                  </li>
                  <li>
                    <a href="#tab_default_3" data-toggle="tab">
                      3 </a>
                  </li>
                </ul> -->
                  <ul class="pagination" style="margin:0 auto">
                    <li class="disabled">
                      <a style=" border: 1px #a19d9d solid;" href="#">«</a>
                    </li>
                    <li class="active">
                      <a style=" border: 1px #a19d9d solid;" href="#tab_default_1" data-toggle="tab">1
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li>
                      <a style=" border: 1px #a19d9d solid;" href="#tab_default_2" data-toggle="tab">2</a>
                    </li>
                    <li>
                      <a style=" border: 1px #a19d9d solid;" href="#tab_default_3" data-toggle="tab">3</a>
                    </li>
                    <li>
                      <a style=" border: 1px #a19d9d solid;" href="#">4</a>
                    </li>
                    <li>
                      <a style=" border: 1px #a19d9d solid;" href="#">5</a>
                    </li>
                    <li>
                      <a style=" border: 1px #a19d9d solid;" href="#">»</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
  
          <!-- a5er invoices -->
          <!-- Referral -->
          <div class="col-md-12">
  
  
  
  
            <div class="tabbable-panel">
              <div class="tabbable-line">
  
                <div class="tab-content">
                  <div class="col-md-12">
                    <h3> Referral</h3>
                    <hr>
                    <i style="font-size:35px;float:right" class="fa fa-plus-square" data-toggle="modal" data-target="#adding-exp"></i>
                  </div>
                  <div class="tab-pane active" id="tab_default_11">
                    <div class="row col-md-4" style="text-align:center">
  
  
  
                      <figure class="snip1174 navy col-md-4">
                        <img style="height: 280px;" src="assets/images/DENTIST.jpg" alt="sq-sample33" />
                        <figcaption>
                          <h2>#1</h2>
                          <p>
                            02/22/2018
                          </p>
                          <a href="/main/page/production" style="    font-size: 17px;
                                  margin-top: 30px;
                                  margin-right: 5px;"> View
                            <i class="fa fa-eye"></i>
  
                          </a>
                          <a href="/main/page/production" style=" font-size: 17px;">Delete
                            <i class="fa fa-trash"></i>
  
                          </a>
                        </figcaption>
                      </figure>
  
  
                    </div>
                    <div class="row col-md-4" style="text-align:center">
  
  
                      <figure class="snip1174 navy col-md-4">
                        <img style="height: 280px;" src="assets/images/logged-user.jpg" alt="sq-sample33" />
                        <figcaption>
                          <h2>#2</h2>
                          <p>
                            02/22/2018
                          </p>
                          <a href="/main/page/production" style="    font-size: 17px;
                                    margin-top: 30px;
                                    margin-right: 5px;"> View
                            <i class="fa fa-eye"></i>
  
                          </a>
                          <a href="/main/page/production" style=" font-size: 17px;">Delete
                            <i class="fa fa-trash"></i>
  
                          </a>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="row col-md-4" style="text-align:center">
  
                      <figure class="snip1174 navy col-md-4">
                        <img style="height: 280px;" src="assets/images/DENTIST.jpg" alt="sq-sample33" />
                        <figcaption>
                          <h2>#3</h2>
                          <p>
                            02/22/2018
                          </p>
                          <a href="/main/page/production" style="    font-size: 17px;
                                        margin-top: 30px;
                                        margin-right: 5px;"> View
                            <i class="fa fa-eye"></i>
  
                          </a>
                          <a href="/main/page/production" style=" font-size: 17px;">Delete
                            <i class="fa fa-trash"></i>
  
                          </a>
                        </figcaption>
                      </figure>
  
                    </div>
                  </div>
                  <div class="tab-pane" id="tab_default_22">
                    <div class=" row col-md-4" style="text-align:center">
                      <div>
                        <h4 class="invoicNumber">Dentist-invoices 4 </h4>
                      </div>
                      <div>
                        <p>07/01/2018</p>
                      </div>
                      <form>
                        <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                          <button type="button" class="btn btn-primary download ">Download</button>
                        </a>
                        <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>
  
                      </form>
  
                    </div>
                    <div class="row col-md-4" style="text-align:center">
                      <div>
                        <h4 class="invoicNumber">Dentist-invoices 5 </h4>
                      </div>
                      <div>
                        <p>07/01/2018</p>
                      </div>
                      <form>
                        <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                          <button type="button" class="btn btn-primary download ">Download</button>
                        </a>
                        <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>
  
                      </form>
  
                    </div>
                    <div class="row col-md-4" style="text-align:center">
                      <div>
                        <h4 class="invoicNumber">Dentist-invoices 6 </h4>
                      </div>
                      <div>
                        <p>07/01/2018</p>
                      </div>
                      <form>
                        <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                          <button type="button" class="btn btn-primary download ">Download</button>
                        </a>
                        <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>
  
                      </form>
  
                    </div>
  
                  </div>
                  <div class="tab-pane" id="tab_default_33">
                    <div class="row col-md-4" style="text-align:center">
                      <div>
                        <h4 class="invoicNumber">Dentist-invoices 7 </h4>
                      </div>
                      <div>
                        <p>07/01/2018</p>
                      </div>
                      <form>
                        <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                          <button type="button" class="btn btn-primary download ">Download</button>
                        </a>
                        <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>
  
                      </form>
  
                    </div>
                    <div class="row col-md-4" style="text-align:center">
                      <div>
                        <h4 class="invoicNumber">Dentist-invoices 8 </h4>
                      </div>
                      <div>
                        <p>07/01/2018</p>
                      </div>
                      <form>
                        <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                          <button type="button" class="btn btn-primary download ">Download</button>
                        </a>
                        <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>
  
                      </form>
  
                    </div>
                    <div class="row col-md-4" style="text-align:center">
                      <div>
                        <h4 class="invoicNumber">Dentist-invoices 9</h4>
                      </div>
                      <div>
                        <p>07/01/2018</p>
                      </div>
                      <form>
                        <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                          <button type="button" class="btn btn-primary download ">Download</button>
                        </a>
                        <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>
  
                      </form>
  
                    </div>
  
  
                  </div>
                  <ul class="pagination" style="margin:0 auto">
                    <li class="disabled">
                      <a style=" border: 1px #a19d9d solid;" href="#">«</a>
                    </li>
                    <li class="active">
                      <a style=" border: 1px #a19d9d solid;" href="#tab_default_1" data-toggle="tab">1
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li>
                      <a style=" border: 1px #a19d9d solid;" href="#tab_default_2" data-toggle="tab">2</a>
                    </li>
                    <li>
                      <a style=" border: 1px #a19d9d solid;" href="#tab_default_3" data-toggle="tab">3</a>
                    </li>
                    <li>
                      <a style=" border: 1px #a19d9d solid;" href="#">4</a>
                    </li>
                    <li>
                      <a style=" border: 1px #a19d9d solid;" href="#">5</a>
                    </li>
                    <li>
                      <a style=" border: 1px #a19d9d solid;" href="#">»</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
  
          <!-- a5er Referral -->
  
          <!-- RAYS -->
          <div class="col-md-12">
  
  
  
  
            <div class="tabbable-panel">
              <div class="tabbable-line">
  
                <div class="tab-content">
                  <div class="col-md-12">
                    <h3> X-Rays</h3>
                    <hr>
                    <i style="font-size:35px;float:right" class="fa fa-plus-square" data-toggle="modal" data-target="#adding-exp"></i>
                  </div>
                  <div class="tab-pane active" id="tab_default_11">
                    <div class="row col-md-4" style="text-align:center">
  
  
  
                      <figure class="snip1174 navy col-md-4">
                        <img style="height: 280px;" src="assets/images/x-rays.jpg" alt="sq-sample33" />
                        <figcaption>
                          <h2>#1</h2>
                          <p>
                            02/22/2018
                          </p>
                          <a href="/main/page/production" style="    font-size: 17px;
                        margin-top: 30px;
                        margin-right: 5px;"> View
                            <i class="fa fa-eye"></i>
  
                          </a>
                          <a href="/main/page/production" style=" font-size: 17px;">Delete
                            <i class="fa fa-trash"></i>
  
                          </a>
                        </figcaption>
                      </figure>
  
  
                    </div>
                    <div class="row col-md-4" style="text-align:center">
  
  
                      <figure class="snip1174 navy col-md-4">
                        <img style="height: 280px;" src="assets/images/x-rays.jpg" alt="sq-sample33" />
                        <figcaption>
                          <h2>#2</h2>
                          <p>
                            02/22/2018
                          </p>
                          <a href="/main/page/production" style="    font-size: 17px;
                          margin-top: 30px;
                          margin-right: 5px;"> View
                            <i class="fa fa-eye"></i>
  
                          </a>
                          <a href="/main/page/production" style=" font-size: 17px;">Delete
                            <i class="fa fa-trash"></i>
  
                          </a>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="row col-md-4" style="text-align:center">
  
                      <figure class="snip1174 navy col-md-4">
                        <img style="height: 280px;" src="assets/images/x-rays.jpg" alt="sq-sample33" />
                        <figcaption>
                          <h2>#3</h2>
                          <p>
                            02/22/2018
                          </p>
                          <a href="/main/page/production" style="    font-size: 17px;
                              margin-top: 30px;
                              margin-right: 5px;"> View
                            <i class="fa fa-eye"></i>
  
                          </a>
                          <a href="/main/page/production" style=" font-size: 17px;">Delete
                            <i class="fa fa-trash"></i>
  
                          </a>
                        </figcaption>
                      </figure>
  
                    </div>
                  </div>
                  <div class="tab-pane" id="tab_default_22">
                    <div class=" row col-md-4" style="text-align:center">
                      <div>
                        <h4 class="invoicNumber">Dentist-invoices 4 </h4>
                      </div>
                      <div>
                        <p>07/01/2018</p>
                      </div>
                      <form>
                        <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                          <button type="button" class="btn btn-primary download ">Download</button>
                        </a>
                        <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>
  
                      </form>
  
                    </div>
                    <div class="row col-md-4" style="text-align:center">
                      <div>
                        <h4 class="invoicNumber">Dentist-invoices 5 </h4>
                      </div>
                      <div>
                        <p>07/01/2018</p>
                      </div>
                      <form>
                        <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                          <button type="button" class="btn btn-primary download ">Download</button>
                        </a>
                        <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>
  
                      </form>
  
                    </div>
                    <div class="row col-md-4" style="text-align:center">
                      <div>
                        <h4 class="invoicNumber">Dentist-invoices 6 </h4>
                      </div>
                      <div>
                        <p>07/01/2018</p>
                      </div>
                      <form>
                        <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                          <button type="button" class="btn btn-primary download ">Download</button>
                        </a>
                        <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>
  
                      </form>
  
                    </div>
  
                  </div>
                  <div class="tab-pane" id="tab_default_33">
                    <div class="row col-md-4" style="text-align:center">
                      <div>
                        <h4 class="invoicNumber">Dentist-invoices 7 </h4>
                      </div>
                      <div>
                        <p>07/01/2018</p>
                      </div>
                      <form>
                        <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                          <button type="button" class="btn btn-primary download ">Download</button>
                        </a>
                        <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>
  
                      </form>
  
                    </div>
                    <div class="row col-md-4" style="text-align:center">
                      <div>
                        <h4 class="invoicNumber">Dentist-invoices 8 </h4>
                      </div>
                      <div>
                        <p>07/01/2018</p>
                      </div>
                      <form>
                        <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                          <button type="button" class="btn btn-primary download ">Download</button>
                        </a>
                        <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>
  
                      </form>
  
                    </div>
                    <div class="row col-md-4" style="text-align:center">
                      <div>
                        <h4 class="invoicNumber">Dentist-invoices 9</h4>
                      </div>
                      <div>
                        <p>07/01/2018</p>
                      </div>
                      <form>
                        <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                          <button type="button" class="btn btn-primary download ">Download</button>
                        </a>
                        <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>
  
                      </form>
  
                    </div>
  
  
                  </div>
                  <ul class="pagination" style="margin:0 auto">
                    <li class="disabled">
                      <a style=" border: 1px #a19d9d solid;" href="#">«</a>
                    </li>
                    <li class="active">
                      <a style=" border: 1px #a19d9d solid;" href="#tab_default_11" data-toggle="tab">1
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li>
                      <a style=" border: 1px #a19d9d solid;" href="#tab_default_22" data-toggle="tab">2</a>
                    </li>
                    <li>
                      <a style=" border: 1px #a19d9d solid;" href="#tab_default_33" data-toggle="tab">3</a>
                    </li>
                    <li>
                      <a style=" border: 1px #a19d9d solid;" href="#">4</a>
                    </li>
                    <li>
                      <a style=" border: 1px #a19d9d solid;" href="#">5</a>
                    </li>
                    <li>
                      <a style=" border: 1px #a19d9d solid;" href="#">»</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
  
          <!-- a5erX-RAYS -->
        </div>
      </div>
    </div>
