<div class="appointment-card">
  <div class="patient-info ">
    <p class="patient-name text-center"><a class="unstyled" href="patient-profile.html">Abdurrahman Mohamed</a></p>
    <p>
      <i class="fa fa-hospital-o" aria-hidden="true"></i>
      <span>#2032</span>
    </p>
    <p>04:30 PM</p>
  </div>
  <div class="appointment-info ">
    <p class="doctor">
      <i class="fa fa-user-md" aria-hidden="true"></i>
      <span>Dr. Dalia Hany</span>
    </p>
    <p class="unit">
      <i class="fa fa-bed" aria-hidden="true"></i>
      <span>#24</span>
    </p>
    <p class="controls">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </p>
  </div>
  <div class="queue-control">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
    <span>0</span>
    <i class="fa fa-arrow-down" aria-hidden="true"></i>
  </div>
</div>