<div id="appointment-queue">
  <div class="appointment-wrapper">
    <app-appointment-card></app-appointment-card>
    <app-appointment-card></app-appointment-card>
    <app-appointment-card></app-appointment-card>
    <app-appointment-card></app-appointment-card>
    <app-appointment-card></app-appointment-card>
    <app-appointment-card></app-appointment-card>
    <app-appointment-card></app-appointment-card>
    <app-appointment-card></app-appointment-card>
    <app-appointment-card></app-appointment-card>
    <app-appointment-card></app-appointment-card>
    <app-appointment-card></app-appointment-card>
  </div>
</div>