<h4 class="mb-xlg">Reviews and Comments</h4>

<div class="timeline timeline-simple mt-xlg mb-md">
  <div class="tm-body">
    <div class="tm-title">
      <h3 class="h4 text-uppercase">
        <a  class="lnk lnk1" data-toggle="modal" data-target="#myModal">
          <i class="fas fa-plus-circle"></i> Add Review</a>
      </h3>

    </div>
    <ol class="tm-items">
      <app-review-comment></app-review-comment>
      <app-review-comment></app-review-comment>
      <app-review-comment></app-review-comment>
      <app-review-comment></app-review-comment>
      <app-review-comment></app-review-comment>  
    </ol>
  </div>
</div>