<div class="col-md-12 col-lg-6">
  <div class="row">
    <div class="col-md-12">

      <section class="panel-group mb-xlg">
        <div class="widget-twitter-profile">
          <div class="top-image">
            <img src="../../../../../../assets/images/patient/widget-twitter-profile.jpg" alt="">
          </div>
          <div class="profile-info">
            <div class="profile-picture">
              <img src="../../../../../../assets/images/patient/patient_1.png" alt="">
            </div>
            <div class="profile-account">
              <h3 class="name text-semibold">{{dentist.dentistName}}</h3>
              <a href="#" class="account">
                <i class="fa fa-envelope"></i>{{dentist.dentistEmail}}</a>
            </div>
            <ul class="profile-stats">
              <li>
                <h5 class="stat text-uppercase">Age</h5>
                <h4 class="count">{{dentist.dentistAge}}</h4>
              </li>
              <li>
                <h5 class="stat text-uppercase">Gender</h5>

                <h4 class="count">
                  {{dentist.dentistGender}}
                </h4>

              </li>
              <li>
                <h5 class="stat text-uppercase">Payement</h5>
                <h4 class="count">
                  <i class="fa fa-check-circle"></i> {{dentist.dentistPayment}}</h4>

              </li>

            </ul>
          </div>
          <div class="profile-quote">
            <blockquote>
              <p>
                Appointment Date:
                <span class="datetime">{{dentist.appointmentDate}}</span>

              </p>

            </blockquote>

            <p>
              <i class="fa fa-location-arrow"></i> Address: {{dentist.dentisAddress}}
            </p>
            <p>
              <i class="fa fa-mobile-phone"></i> Phone Number: {{dentist.dentisPhone}}
            </p>
            <div class="quote-footer">

              <a href="#">
                <span class="pull-left">
                  <i class="fa fa-user-times"></i>
                </span>
              </a>


              <a href="#">Details</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>