<div class="teeth-row upper-teeth">
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
</div>
<div class="teeth-row lower-teeth">
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
  <app-tooth></app-tooth>
</div>