<!-- Referral -->
<div class="col-md-12">




  <div class="tabbable-panel">
    <div class="tabbable-line">

      <div class="tab-content">
        <div class="col-md-12">
          <h3> Referral</h3>
          <hr>
          <i style="font-size:35px;float:right" class="fa fa-plus-square" data-toggle="modal" data-target="#adding-exp"></i>
        </div>
        <div class="tab-pane active" id="tab_default_11">
          <div class="row col-md-4" style="text-align:center">



            <figure class="snip1174 navy col-md-4">
              <img style="height: 280px;" src="assets/images/DENTIST.jpg" alt="sq-sample33" />
              <figcaption>
                <h2>#1</h2>
                <p>
                  02/22/2018
                </p>
                <a href="/main/page/production" style="    font-size: 17px;
                        margin-top: 30px;
                        margin-right: 5px;"> View
                  <i class="fa fa-eye"></i>

                </a>
                <a href="/main/page/production" style=" font-size: 17px;">Delete
                  <i class="fa fa-trash"></i>

                </a>
              </figcaption>
            </figure>


          </div>
          <div class="row col-md-4" style="text-align:center">


            <figure class="snip1174 navy col-md-4">
              <img style="height: 280px;" src="assets/images/DENTIST.jpg" alt="sq-sample33" />
              <figcaption>
                <h2>#2</h2>
                <p>
                  02/22/2018
                </p>
                <a href="/main/page/production" style="    font-size: 17px;
                          margin-top: 30px;
                          margin-right: 5px;"> View
                  <i class="fa fa-eye"></i>

                </a>
                <a href="/main/page/production" style=" font-size: 17px;">Delete
                  <i class="fa fa-trash"></i>

                </a>
              </figcaption>
            </figure>
          </div>
          <div class="row col-md-4" style="text-align:center">

            <figure class="snip1174 navy col-md-4">
              <img style="height: 280px;" src="assets/images/DENTIST.jpg" alt="sq-sample33" />
              <figcaption>
                <h2>#3</h2>
                <p>
                  02/22/2018
                </p>
                <a href="/main/page/production" style="    font-size: 17px;
                              margin-top: 30px;
                              margin-right: 5px;"> View
                  <i class="fa fa-eye"></i>

                </a>
                <a href="/main/page/production" style=" font-size: 17px;">Delete
                  <i class="fa fa-trash"></i>

                </a>
              </figcaption>
            </figure>

          </div>
        </div>
        <div class="tab-pane" id="tab_default_22">
          <div class=" row col-md-4" style="text-align:center">
            <div>
              <h4 class="invoicNumber">Dentist-invoices 4 </h4>
            </div>
            <div>
              <p>07/01/2018</p>
            </div>
            <form>
              <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                <button type="button" class="btn btn-primary download ">Download</button>
              </a>
              <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>

            </form>

          </div>
          <div class="row col-md-4" style="text-align:center">
            <div>
              <h4 class="invoicNumber">Dentist-invoices 5 </h4>
            </div>
            <div>
              <p>07/01/2018</p>
            </div>
            <form>
              <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                <button type="button" class="btn btn-primary download ">Download</button>
              </a>
              <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>

            </form>

          </div>
          <div class="row col-md-4" style="text-align:center">
            <div>
              <h4 class="invoicNumber">Dentist-invoices 6 </h4>
            </div>
            <div>
              <p>07/01/2018</p>
            </div>
            <form>
              <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                <button type="button" class="btn btn-primary download ">Download</button>
              </a>
              <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>

            </form>

          </div>

        </div>
        <div class="tab-pane" id="tab_default_33">
          <div class="row col-md-4" style="text-align:center">
            <div>
              <h4 class="invoicNumber">Dentist-invoices 7 </h4>
            </div>
            <div>
              <p>07/01/2018</p>
            </div>
            <form>
              <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                <button type="button" class="btn btn-primary download ">Download</button>
              </a>
              <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>

            </form>

          </div>
          <div class="row col-md-4" style="text-align:center">
            <div>
              <h4 class="invoicNumber">Dentist-invoices 8 </h4>
            </div>
            <div>
              <p>07/01/2018</p>
            </div>
            <form>
              <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                <button type="button" class="btn btn-primary download ">Download</button>
              </a>
              <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>

            </form>

          </div>
          <div class="row col-md-4" style="text-align:center">
            <div>
              <h4 class="invoicNumber">Dentist-invoices 9</h4>
            </div>
            <div>
              <p>07/01/2018</p>
            </div>
            <form>
              <a href="uploads/dentist-invoice-template.pdf" download="dentist-invoice-template.pdf">
                <button type="button" class="btn btn-primary download ">Download</button>
              </a>
              <button type="button" onclick="openWin()" class="btn btn-primary  print">print</button>

            </form>

          </div>


        </div>
        <ul class="pagination" style="margin:0 auto">
          <li class="disabled">
            <a style=" border: 1px #a19d9d solid;" href="#">«</a>
          </li>
          <li class="active">
            <a style=" border: 1px #a19d9d solid;" href="#tab_default_1" data-toggle="tab">1
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a style=" border: 1px #a19d9d solid;" href="#tab_default_2" data-toggle="tab">2</a>
          </li>
          <li>
            <a style=" border: 1px #a19d9d solid;" href="#tab_default_3" data-toggle="tab">3</a>
          </li>
          <li>
            <a style=" border: 1px #a19d9d solid;" href="#">4</a>
          </li>
          <li>
            <a style=" border: 1px #a19d9d solid;" href="#">5</a>
          </li>
          <li>
            <a style=" border: 1px #a19d9d solid;" href="#">»</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- a5er Referral -->
