<div class="container">
  <div id="dentists-list">
    <h1>Search result</h1>
    <div class="row">
      <app-doctor-item></app-doctor-item>
      <app-doctor-item></app-doctor-item>
      <app-doctor-item></app-doctor-item>
      <app-doctor-item></app-doctor-item>
      <app-doctor-item></app-doctor-item>
      <app-doctor-item></app-doctor-item>
      <app-doctor-item></app-doctor-item>
      <app-doctor-item></app-doctor-item>
      <app-doctor-item></app-doctor-item>
      <app-doctor-item></app-doctor-item>
      <app-doctor-item></app-doctor-item>
      <app-doctor-item></app-doctor-item>
    </div>
  </div>
</div>