<div id="user-navbar" class="user-navbar">
  <!-- start: header -->
  <header class="header">
    <div class="left-header">
      <a href="" class="logo">
        <img src="assets/images/logo2.jpg" height="35" alt="Porto Admin" />
      </a>
      <ul class="user-menu">
        <li class="list-item active">
          <a href="index.html" class="btn btn-link">Home</a>
        </li>
        <li>
          <a href="index.html" class="btn btn-link">Dentists</a>
        </li>
        <li>
          <a href="index.html" class="btn btn-link">About</a>
        </li>
        <li>
          <a href="index.html" class="btn btn-link">Contact</a>
        </li>
        <li>
          <a href="index.html" class="btn btn-link">Pricing</a>
        </li>
      </ul>
    </div>

    <!-- start: search & user box -->
    <div class="header-right">

      <form action="pages-search-results.html" class="search nav-form">
        <div class="input-group input-search">
          <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>


      <span class="separator"></span>

      <div id="userbox" class="userbox">
        <a href="log-in.html" class=" btn btn-link">Log in/Sign up</a>
      </div>

    </div>
    <!-- end: search & user box -->
  </header>
  <!-- end: header -->

</div>