<section class="counter">
  <div class="container">
      <div class="row">
          <div class="counters">
              <div class="col-md-3 col-sm-3">
                  <div class="counter counter-dark">
                      <i class="fa fa-user"></i>
                      <strong data-to="25000" data-append="+">200000</strong>
                      <label>Happy Patient</label>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3">
                  <div class="counter counter-dark">
                      <i class="fa fa-user-md"></i>
                      <strong data-to="15">10000</strong>
                      <label>Dentist</label>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3">
                  <div class="counter counter-dark">
                      <i class="fa fa-calendar"></i>
                      <strong data-to="8">3</strong>
                      <label>Years of Experience</label>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3">
                  <div class="counter counter-dark">
                      <i class="fa fa-bar-chart"></i>
                      <strong data-to="178">20</strong>
                      <label>High Score</label>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
