<!-- ------------Reviews------------ -->
<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
  <section class="panel panel-info ">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="fa fa-caret-down"></a>
        <a href="#" class="fa fa-times"></a>
      </div>
      <h2 class="panel-title">Reviews</h2>
    </header>

    <div class="panel-body">
      <app-total-review></app-total-review>
      <hr>
      <!-- ------Users Reviews------- -->
      <app-review-comments-list></app-review-comments-list>
    </div>
  </section>
</div>

<app-add-review></app-add-review>