<section id="faq" class="section background-color-light m-none">
  <div class="container">
      <div class="row center mb-md">
          <div class="col-md-8 col-md-offset-2">
              <h2 class="custom-bar _center text-color-dark">FAQ'S</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur repudiandae et saepe, veniam
                  aliquam molestias quod, quasi minus sequi, doloremque dolorum eaque similique eligendi omnis
                  ea!</p>
          </div>
      </div>
      <div class="row mb-xlg">
          <div class="col-md-10 col-md-offset-1">
              <div class="panel-group custom-accordion-style-1" id="accordion">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a class="accordion-toggle text-color-dark" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                                  Lorem ipsum dolor sit amet, consectetur adipisicing ?
                              </a>
                          </h4>
                      </div>
                      <div id="collapse1One" class="accordion-body collapse in">
                          <div class="panel-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque eos laborum
                                  non molestiae dignissimos accusamus architecto amet beatae eveniet omnis.
                                  Animi eos dolore totam dolorum magni impedit optio alias qui nobis dicta
                                  deserunt ipsum porro veritatis incidunt ullam ducimus, velit non voluptate
                                  a. Rem aut vel necessitatibus officiis, sit quo, at fugit labore minima obcaecati
                                  reprehenderit ipsum.</p>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a class="accordion-toggle text-color-dark collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1Two">
                                  Lorem ipsum dolor sit amet, consectetur adipisicing ?
                              </a>
                          </h4>
                      </div>
                      <div id="collapse1Two" class="accordion-body collapse">
                          <div class="panel-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque eos laborum
                                  non molestiae dignissimos accusamus architecto amet beatae eveniet omnis.
                                  Animi eos dolore totam dolorum magni impedit optio alias qui nobis dicta
                                  deserunt ipsum porro veritatis incidunt ullam ducimus, velit non voluptate
                                  a. Rem aut vel necessitatibus officiis, sit quo, at fugit labore minima obcaecati
                                  reprehenderit ipsum.</p>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a class="accordion-toggle text-color-dark collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1Three">
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit ?
                              </a>
                          </h4>
                      </div>
                      <div id="collapse1Three" class="accordion-body collapse">
                          <div class="panel-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque eos laborum
                                  non molestiae dignissimos accusamus architecto amet beatae eveniet omnis.
                                  Animi eos dolore totam dolorum magni impedit optio alias qui nobis dicta
                                  deserunt ipsum porro veritatis incidunt ullam ducimus, velit non voluptate
                                  a. Rem aut vel necessitatibus officiis, sit quo, at fugit labore minima obcaecati
                                  reprehenderit ipsum.</p>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a class="accordion-toggle text-color-dark collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1Four">
                                  Lorem ipsum dolor sit amet, consectetur ?
                              </a>
                          </h4>
                      </div>
                      <div id="collapse1Four" class="accordion-body collapse">
                          <div class="panel-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque eos laborum
                                  non molestiae dignissimos accusamus architecto amet beatae eveniet omnis.
                                  Animi eos dolore totam dolorum magni impedit optio alias qui nobis dicta
                                  deserunt ipsum porro veritatis incidunt ullam ducimus, velit non voluptate
                                  a. Rem aut vel necessitatibus officiis, sit quo, at fugit labore minima obcaecati
                                  reprehenderit ipsum.</p>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a class="accordion-toggle text-color-dark collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1Five">
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum ?
                              </a>
                          </h4>
                      </div>
                      <div id="collapse1Five" class="accordion-body collapse">
                          <div class="panel-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque eos laborum
                                  non molestiae dignissimos accusamus architecto amet beatae eveniet omnis.
                                  Animi eos dolore totam dolorum magni impedit optio alias qui nobis dicta
                                  deserunt ipsum porro veritatis incidunt ullam ducimus, velit non voluptate
                                  a. Rem aut vel necessitatibus officiis, sit quo, at fugit labore minima obcaecati
                                  reprehenderit ipsum.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
     
  </div>
</section>
