<section id="faq" class="section background-color-light m-none">
  <div class="container">
      <div class="row center mb-md">
          <div class="col-md-8 col-md-offset-2">
              <h2 class="custom-bar _center text-color-dark">FAQ'S</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur repudiandae et saepe, veniam
                  aliquam molestias quod, quasi minus sequi, doloremque dolorum eaque similique eligendi omnis
                  ea!</p>
          </div>
      </div>
      <div class="row mb-xlg">
          <div class="col-md-10 col-md-offset-1">
              <div class="panel-group custom-accordion-style-1" id="accordion">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a class="accordion-toggle text-color-dark" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                                 Why you use our site ?
                              </a>
                          </h4>
                      </div>
                      <div id="collapse1One" class="accordion-body collapse in">
                          <div class="panel-body">
                              <p>Dental zone not only for helping dentist to mange their clincis or
                                 for facilities to manage their clincis, it also for patient to find good dentist and the nearest dentist for them </p>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a class="accordion-toggle text-color-dark collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1Two">
                                  Is my personal information kept confidential?                              </a>
                          </h4>
                      </div>
                      <div id="collapse1Two" class="accordion-body collapse">
                          <div class="panel-body">
                              <p>Yes. Protecting your privacy is very important to us. We use the best available technology to ensure the security of your personal information.
                                You can feel confident that any information you share with us will remain confidential. </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a class="accordion-toggle text-color-dark collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1Three">
                                  What’s the difference with whitening products in stores vs in office whitening offered by Dentists?                              </a>
                          </h4>
                      </div>
                      <div id="collapse1Three" class="accordion-body collapse">
                          <div class="panel-body">
                              <p>Over the counter products are milder vs in office whitening products.
                                 Always advisable to have an assessment
                                 done to see if you are a candidate for vital whitening procedures.</p>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a class="accordion-toggle text-color-dark collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1Four">
                                  How much toothpaste should an adult use?                              </a>
                          </h4>
                      </div>
                      <div id="collapse1Four" class="accordion-body collapse">
                          <div class="panel-body">
                              <p>An adult should use a fluoridated toothpaste that is the size of a small green pea; unlike the large,
                                 swooping ribbon of paste that is shown on commercials.
                                  Most toothpastes are abrasive and too much may cause tooth sensitivity.</p>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a class="accordion-toggle text-color-dark collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1Five">
                                  How many times a day should I brush my teeth?                              </a>
                          </h4>
                      </div>
                      <div id="collapse1Five" class="accordion-body collapse">
                          <div class="panel-body">
                              <p>Main Street Dental Clinics advocates brushing after each meal.
                                 The best way to be sure you are caring for
                                your teeth properly is to discuss your homecare techniques and needs with your dentist or hygienist.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</section>
