<div class="body">
<div role="main" class="main">
  <app-slider></app-slider>
  <app-introduction></app-introduction>
  <div class="container">
  <app-prices></app-prices>
  <app-about-us></app-about-us>
  <app-counter></app-counter>
  <app-questions></app-questions>
</div>
  <app-contact></app-contact>
</div>
</div>



<!---<div role="main" class="main">

    <carousel>
        <slide>
          <img src="assets/images/Home/about.jpg" alt="first slide" style="display: block; width:50%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/images/Home/about.jpg" alt="second slide" style="display: block; width:50%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/images/Home/about.jpg" alt="third slide" style="display: block; width:50%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </slide>
      </carousel>


       <section class="home-intro" id="home-intro">
          <div class="container">

              <div class="row">
                  <div class="col-md-12">
                      <p>
                          Choose which plan that help you to your business
                          <em>Our package</em>
                          <span>You can try free for three mounth to to help you Choose.</span>
                      </p>
                  </div>

              </div>

          </div>
      </section>

      <section id="about" class="about">
          <div class="container">
              <div class="row mt-xlg pt-xlg mb-xlg pb-xs">
                  <div class="col-sm-8 col-md-8">
                      <h2 class="font-weight-semibold mb-xs">Who We Are</h2>
                      <p class="lead font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit, leo vitae interdum
                          pretium, tortor risus dapibus tortor, eu suscipit orci leo sed nisl. Integer et ipsum eu
                          nulla auctor mattis sit amet in diam. Vestibulum non ornare arcu. Class aptent taciti sociosqu
                          ad...
                      </p>

                      <a class="btn btn-borders btn-quaternary custom-button text-uppercase mt-lg mb-lg font-weight-bold">read more</a>
                  </div>
                  <div class="col-sm-4 col-md-4">
                      <img src="img/about.jpg" alt class="img-responsive box-shadow-custom" />
                  </div>
              </div>
          </div>
      </section>
      <section class="counter">
          <div class="container">
              <div class="row">
                  <div class="counters">
                      <div class="col-md-3 col-sm-3">
                          <div class="counter counter-dark">
                              <i class="fa fa-user"></i>
                              <strong data-to="25000" data-append="+">0</strong>
                              <label>Happy Patient</label>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-3">
                          <div class="counter counter-dark">
                              <i class="fa fa-user-md"></i>
                              <strong data-to="15">0</strong>
                              <label>Dentist</label>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-3">
                          <div class="counter counter-dark">
                              <i class="fa fa-calendar"></i>
                              <strong data-to="8">0</strong>
                              <label>Years of Experience</label>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-3">
                          <div class="counter counter-dark">
                              <i class="fa fa-bar-chart"></i>
                              <strong data-to="178">0</strong>
                              <label>High Score</label>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section id="faq" class="section background-color-light m-none">
          <div class="container">
              <div class="row center mb-md">
                  <div class="col-md-8 col-md-offset-2">
                      <h2 class="custom-bar _center text-color-dark">FAQ'S</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur repudiandae et saepe, veniam
                          aliquam molestias quod, quasi minus sequi, doloremque dolorum eaque similique eligendi omnis
                          ea!</p>
                  </div>
              </div>
              <div class="row mb-xlg">
                  <div class="col-md-10 col-md-offset-1">
                      <div class="panel-group custom-accordion-style-1" id="accordion">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle text-color-dark" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                                          Lorem ipsum dolor sit amet, consectetur adipisicing ?
                                      </a>
                                  </h4>
                              </div>
                              <div id="collapse1One" class="accordion-body collapse in">
                                  <div class="panel-body">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque eos laborum
                                          non molestiae dignissimos accusamus architecto amet beatae eveniet omnis.
                                          Animi eos dolore totam dolorum magni impedit optio alias qui nobis dicta
                                          deserunt ipsum porro veritatis incidunt ullam ducimus, velit non voluptate
                                          a. Rem aut vel necessitatibus officiis, sit quo, at fugit labore minima obcaecati
                                          reprehenderit ipsum.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle text-color-dark collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1Two">
                                          Lorem ipsum dolor sit amet, consectetur adipisicing ?
                                      </a>
                                  </h4>
                              </div>
                              <div id="collapse1Two" class="accordion-body collapse">
                                  <div class="panel-body">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque eos laborum
                                          non molestiae dignissimos accusamus architecto amet beatae eveniet omnis.
                                          Animi eos dolore totam dolorum magni impedit optio alias qui nobis dicta
                                          deserunt ipsum porro veritatis incidunt ullam ducimus, velit non voluptate
                                          a. Rem aut vel necessitatibus officiis, sit quo, at fugit labore minima obcaecati
                                          reprehenderit ipsum.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle text-color-dark collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1Three">
                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit ?
                                      </a>
                                  </h4>
                              </div>
                              <div id="collapse1Three" class="accordion-body collapse">
                                  <div class="panel-body">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque eos laborum
                                          non molestiae dignissimos accusamus architecto amet beatae eveniet omnis.
                                          Animi eos dolore totam dolorum magni impedit optio alias qui nobis dicta
                                          deserunt ipsum porro veritatis incidunt ullam ducimus, velit non voluptate
                                          a. Rem aut vel necessitatibus officiis, sit quo, at fugit labore minima obcaecati
                                          reprehenderit ipsum.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle text-color-dark collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1Four">
                                          Lorem ipsum dolor sit amet, consectetur ?
                                      </a>
                                  </h4>
                              </div>
                              <div id="collapse1Four" class="accordion-body collapse">
                                  <div class="panel-body">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque eos laborum
                                          non molestiae dignissimos accusamus architecto amet beatae eveniet omnis.
                                          Animi eos dolore totam dolorum magni impedit optio alias qui nobis dicta
                                          deserunt ipsum porro veritatis incidunt ullam ducimus, velit non voluptate
                                          a. Rem aut vel necessitatibus officiis, sit quo, at fugit labore minima obcaecati
                                          reprehenderit ipsum.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle text-color-dark collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1Five">
                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum ?
                                      </a>
                                  </h4>
                              </div>
                              <div id="collapse1Five" class="accordion-body collapse">
                                  <div class="panel-body">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque eos laborum
                                          non molestiae dignissimos accusamus architecto amet beatae eveniet omnis.
                                          Animi eos dolore totam dolorum magni impedit optio alias qui nobis dicta
                                          deserunt ipsum porro veritatis incidunt ullam ducimus, velit non voluptate
                                          a. Rem aut vel necessitatibus officiis, sit quo, at fugit labore minima obcaecati
                                          reprehenderit ipsum.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </section>
      <section id="contact" class="section section-no-border section-primary custom-section-spacement-1 m-none">
          <div class="container">
              <div class="row center">
                  <h2 class="text-uppercase font-weight-bold text-color-light">Get In Touch</h2>
                  <p class="text-md text-color-light mb-xlg">send us your needs</p>
              </div>
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <form id="contactForm" class="custom-form-style contact-page" action="" method="POST">
                          <div class="alert alert-success hidden mt-lg" id="contactFormSuccess">
                              <strong>Success!</strong> Your message has been sent to us.
                          </div>

                          <div class="alert alert-danger hidden mt-lg" id="contactFormError">
                              <strong>Error!</strong> There was an error sending your message.
                              <span class="font-size-xs mt-sm display-block" id="contactFormErrorMessage"></span>
                          </div>
                          <div class="row">
                              <div class="form-group">
                                  <div class="col-md-6 custom-sm-margin-bottom-2">
                                      <div class="form-control-custom">
                                          <i class="icon-user icons text-color-light"></i>
                                          <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name"
                                              id="name" placeholder="Name *" required>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-control-custom mb-none">
                                          <i class="icon-envelope icons text-color-light"></i>
                                          <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address."
                                              maxlength="100" class="form-control" name="email" id="email" placeholder="Email *"
                                              required>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="form-group">
                                  <div class="col-md-6 custom-sm-margin-bottom-2">
                                      <div class="form-control-custom">
                                          <i class="icon-call-out icons text-color-light"></i>
                                          <input type="text" value="" data-msg-required="Please enter your phone number." maxlength="100" class="form-control" name="phone"
                                              id="phone" placeholder="Phone *" required>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-control-custom custom-select-style mb-none">
                                          <i class="icon-target icons text-color-light"></i>
                                          <select data-msg-required="Please select..." class="form-control" name="selectSample" id="selectSample" placeholder="Services *"
                                              required>
                                              <option value="">...</option>
                                              <option value="Option 1">Option 1</option>
                                              <option value="Option 2">Option 2</option>
                                              <option value="Option 3">Option 3</option>
                                              <option value="Option 4">Option 4</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="form-group">
                                  <div class="col-md-12">
                                      <div class="form-control-custom">
                                          <i class="icon-bubble icons text-color-light"></i>
                                          <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message"
                                              placeholder="Message *" required></textarea>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row center">
                              <div class="col-md-12">
                                  <input type="submit" value="Submit Now" class="btn btn-borders custom-btn-style-4 text-uppercase" data-loading-text="Loading...">
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </section>

  </div>

-->
