#contact{
  background-color: #44b8f1;
}
h2{
  color: #13558c;
}
.custom-form-style .form-control-custom {
	position: relative;
	margin-bottom: 10px;
}
.custom-form-style .form-control-custom > i {
	position: absolute;
	top: 10px;
	left: 0;
	color: #FFF;
}
.custom-form-style .form-control-custom .form-control {
	background: transparent;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 10px 10px 10px 30px;
	box-shadow: none;
	color: #FFF;
}
.custom-form-style .form-control-custom .form-control::-webkit-input-placeholder {
	color: #c8d4ea;
}
.custom-form-style .form-control-custom .form-control::-moz-placeholder {
	color: #c8d4ea;
}
.custom-form-style .form-control-custom .form-control:-ms-input-placeholder {
	color: #c8d4ea;
}
.custom-form-style .form-control-custom select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	background: transparent;
	color: #FFF;
}
.custom-form-style .form-control-custom select.form-control option {
	color: #818898;
}
.custom-form-style .form-control-custom.custom-select-style:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 10px;
	width: 10px;
	height: 10px;
	border-right: 1px solid #c8d4ea;
	border-bottom: 1px solid #c8d4ea;
	z-index: 0;
	-webkit-transform: translateY(-50%) rotate(45deg);
	-moz-transform: translateY(-50%) rotate(45deg);
	-ms-transform: translateY(-50%) rotate(45deg);
	-o-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}
.custom-form-style .form-control-custom.custom-select-style select {
	position: relative;
	z-index: 1;
}
.custom-form-style.contact-page .form-control-custom .form-control {
	height: initial;
}
#contact input[type=submit]
{
    font-weight: 900;
    border: 2px solid #FFF;
    padding: 10px 20px;
    color:#0088cc;
}
/* end contact us*/
