<section id="contact" class="section section-no-border section-primary custom-section-spacement-1 m-none">
  <div class="container">
      <div class="row center">
          <h2 class="text-uppercase  text-color-light">Contact With Us </h2>
      </div>
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <form id="contactForm" class="custom-form-style contact-page" action="" method="POST">
                  <div class="alert alert-success hidden mt-lg" id="contactFormSuccess">
                      <strong>Success!</strong> Your message has been sent to us.
                  </div>

                  <div class="alert alert-danger hidden mt-lg" id="contactFormError">
                      <strong>Error!</strong> There was an error sending your message.
                      <span class="font-size-xs mt-sm display-block" id="contactFormErrorMessage"></span>
                  </div>
                  <div class="row">
                      <div class="form-group">
                          <div class="col-md-6 custom-sm-margin-bottom-2">
                              <div class="form-control-custom">
                                  <i class="icon-user icons text-color-light"></i>
                                  <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name"
                                      id="name" placeholder="Name *" required>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-control-custom mb-none">
                                  <i class="icon-envelope icons text-color-light"></i>
                                  <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address."
                                      maxlength="100" class="form-control" name="email" id="email" placeholder="Email *"
                                      required>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group">
                          <div class="col-md-6 custom-sm-margin-bottom-2">
                              <div class="form-control-custom">
                                  <i class="icon-call-out icons text-color-light"></i>
                                  <input type="text" value="" data-msg-required="Please enter your phone number." maxlength="100" class="form-control" name="phone"
                                      id="phone" placeholder="Phone *" required>
                              </div>
                          </div>
                          <div class="col-md-6 custom-sm-margin-bottom-2">
                            <div class="form-control-custom">
                              <i class="icon-bubble icons text-color-light"></i>
                              <input type="text" value="" data-msg-required="Please enter Subject." maxlength="100" class="form-control" name="name"
                                    id="subject" placeholder="subject*" required>
                            </div>
                        </div>

                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group">
                          <div class="col-md-12">
                              <div class="form-control-custom">
                                  <i class="icon-bubble icons text-color-light"></i>
                                  <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message"
                                      placeholder="Message *" required></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row center">
                      <div class="col-md-12">
                          <input type="submit" value="Submit Now" class="btn btn-borders custom-btn-style-4 text-uppercase" data-loading-text="Loading...">
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
